.container.depoimentos__container {
    width: 40%;
    padding-bottom: 4rem;
}

.cliente__avatar {
    width: 4rem;
    aspect-ratio: 1/1;  
    overflow: hidden;  
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.depoimentos {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.cliente__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 02.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);    
}


/* ===== CONSULTAS DE MÍDIA - DISPOSITIVO MÉDIO ======*/

@media screen and (max-width: 1024px) {
   .container.depoimentos__container {
    width: 60%;
   }
  }
  
  /* ===== CONSULTAS DE MÍDIA - DISPOSITIVO PEQUENO ======*/
  
  @media screen and (max-width: 600px) {
    .container.depoimentos__container {
    width: var(--container-width-sm);
  }

  .cliente__review {
    width: var(--cliente-width-sm);
  }
}