
.outcard {
	
    padding: 25px;
    margin-left: 22%;
    width: 50%;
    box-shadow: 0 1px 2px 1px #ddd;
    border-radius: 3px;
	background-color: var( --color-primary-variant);
}

.card {
    box-shadow: 0 1px 2px 1px #ddd;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
	
}

.inputs {
    width: 93%;
    color: #444;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 10px;
	background-color: #eee
}

.btns {
	background: var(--color-primary);
	color: var(--color-bg);
    width: 100%;
    padding: 10px 10px;
    border-radius: 3px;
    border: none;
}

.center {
    text-align: center;
}

.container_link__container {
    margin-top: 1rem;
	text-align: center;
  }